body {
    background:  rgba(222, 184, 135, 0.582);
    font-family: "Nunito" sans-serif;
}
.blurb h2 {   /* this means h2 inside of a blurb*/                    
    color: #000;
    font-size: 2.5rem;
    font-weight: 100;
}
.blurb p {
    color:#000;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2rem;
}

.content {
    margin-top: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}
#mainNavbar .nav-link:hover {
    color:#000;
}
#mainNavbar .navbar-brand {
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
}
#headingGroup h1 .spanIcon { 
    padding:0.8rem;
    margin-top: -13px;
   background-color: burlywood;
   border-radius: 50%;
   width: 50px;
}
/* #headingGroup span {
    color: #EA1C2C;
} */
#headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
}
.navbar.scrolled {          /*this defines a class to be applied when we scroll it gives  *the navbR a purple shade and makes it look cool*/
     background: burlywood;
     transition:background 500ms;
}
/* .w3-greyscale-min {
    max-width: 100%;
    height: auto;
    filter: grayscale(50%);
    vertical-align: middle;
    border-style: none;
    width: 100%;
} */

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    } 
    #mainNavbar .navbar-brand {
    color:#EA1C2C ;
    font-size: 1.5rem;
    font-weight: 400;
   } 
   #mainNavbar .nav-link:hover {
    color:#EA1C2C;
   }

}